services:
  front:
    image: ghcr.io/omrimod/attandance-report-front:latest
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "443:443"
    volumes:
      - secrets:/home/node/secrets:ro
      - ./front/cert.pem:/home/node/cert.pem:ro
      - ./front/key.pem:/home/node/key.pem:ro
    environment:
       TZ: Asia/Jerusalem
       CAPTCHA_ENABLED: false
       CAPTCHA_SITE_KEY: ${CAPTCHA_SITE_KEY}
       CAPTCHA_SECRET_KEY: ${CAPTCHA_SECRET_KEY}
       HTTPS: true
       PORT: 443
    networks:
      - db_net
      - default
  
  management:
    image: ghcr.io/omrimod/attandance-report-management:latest
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "3000:3000"
    volumes:
      - secrets:/home/node/secrets:ro
    environment:
      - TZ=Asia/Jerusalem
    networks:
      - db_net
      - default

  worker:
    image: ghcr.io/omrimod/attandance-report-worker:latest
    depends_on:
      mongo:
        condition: service_healthy
    volumes:
      - secrets:/home/node/secrets:ro
    environment:
      TZ: Asia/Jerusalem
      WORKER_INTERVAL: "Dayly at 10:00 AM"
      SMTP_HOST: "localhost"
      SMTP_PORT: 25
      SMTP_SECURE: "false"
      SMTP_USER: ""
      SMTP_PASS: ""
      SMTP_RECIPIENT: ""
      SMTP_SENDER: ""
    networks:
      - db_net
      - default

  mongo:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      TZ: Asia/Jerusalem
    volumes:
      - mongo_data:/data/db
      - mongo_conf:/data/configdb
      - secrets:/home/mongodb/secrets
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 15s
    networks:
      - db_net
    user: "999:999"

volumes:
  mongo_data:
  mongo_conf:
  secrets:

networks:
  default:
    driver: bridge
  db_net:
    driver: bridge
    internal: true
